SUPABASE_DB_URL=
DATABASE_URL=
GOOGLE_API_KEY=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
GROQ_API_KEY="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"
SUPABASE_URL="https://hhmkiniiqhwtidrrwelp.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhobWtpbmlpcWh3dGlkcnJ3ZWxwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTg2MTI5NCwiZXhwIjoyMDg3NDM3Mjk0fQ.07r_wX-JvV8dDpJrB5I5vGJ-_GYvva_ALKVHzlHAgp4"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhobWtpbmlpcWh3dGlkcnJ3ZWxwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NjEyOTQsImV4cCI6MjA4NzQzNzI5NH0.KsMIozUul8fSTz5U19P1p-NRZRU9VHdVl8LfVu4MaaE"
TAVILY_API_KEY="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"