fastapi==0.128.0
starlette==0.50.0
uvicorn[standard]==0.40.0
jinja2==3.1.6
python-multipart
langchain
langchain-groq
langchain-community
pandas
openpyxl
python-pptx
pypdf
pillow
fpdf
python-dotenv
tiktoken
pytesseract
PyPDF2
langchain-mcp-adapters
mcp
langgraph
praw
requests
wikipedia
google-api-python-client
transformers
mcp-use
supabase
psycopg[binary]
langchain-tavily
